.occilab-fa-icon {
    color: #009ce1;
    top: 38px;
    position: relative;
}
.occilab-bussines {
   margin-top: 20px;
}
.occilab-bussines p {
    color: #919293;
}
.occilab-bussines h5 {
  font-weight: 600;
}
.occilab-items {
    font-size: 0.8rem;
    display: flex;
    position: relative;
    top: -10px;
}
.occilab-item-point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #009ce1;
    margin: 0.5rem;
}
.line {
    border-bottom: solid 0.5px #cccccc;
    width: 100%;
}