<div class="container-fluid">
    <fa-icon class="d-none d-lg-block d-xl-block occilab-fa-icon" icon="arrow-left"></fa-icon>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="occilab-bussines" *ngIf="client">
                <h5 class="text-center">{{client.nombre}}</h5>
                <p class="text-center">NIT: {{client.nit}}</p>

                <div class="row occilab-items justify-content-center">
                        <span> Capa: {{client.capa}} </span>
                        <span class="occilab-item-point"></span>
                        <span> Segmento: {{(client.segmento == 'A')? 'Aval' : 'Other' }} </span>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="line"></div>
        </div>
    </div>
</div>