.occilab-img-footer {
    width: 8rem;
    height: 3rem;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .occilab-img-footer {
        position: relative !important;
        right: -30rem !important;
        width: 4rem;
        height: 1.5rem;
    }
 }