<div class="container-fluid mt5">
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <img class="occilab-img-footer" src="./assets/groupAval.png" alt="Grupo Aval">
    </div>
</div>    
</div>