<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <app-main></app-main>
        </div>
    </div>
</div>

<router-outlet></router-outlet>