@import '../../../bootstrap-variables';

@mixin mix-card-color($color, $card-body-text-color) {
    border-color: $color; 
    color: $color;
    .occilab-card-title {
        margin-top: 15px;
        font-size: 0.7rem;
        color: $card-body-text-color;
    }
    
}

@mixin mix-card-footer($color, $text-color) {
    .card-footer {
        background-color: $color !important;
        color: $text-color;
    }
}
.occilab-text-color {
    margin-top:20px;
    color: $occilab-text-color;
}
.occilab-card {
    width: 130px;
    float: left;
    margin: 5px;
    display: flex;
    @include mix-card-color($card-border-color, $card-body-text-color);
    @include mix-card-footer($card-footer-background-color, $occilab-text-color);
}
.card-body {
    padding-bottom: 0.25rem !important;
}
.occilab-card-gray {
    @include mix-card-color(#f1eded, #cecaca);
    @include mix-card-footer(#f5f5f5, #b1afaf);
}
.occilab-alert-text {
    font-size: 0.8em;
    margin-bottom: -5px;;
}
.nav-link {
    color: #b1afaf;
    cursor: pointer;
}
.line {
    border-bottom: solid 2px #cecaca;
    width: 393px;
    position: absolute;
    top: 41px;
    z-index: -1;
}

.active {
    border-bottom: 3px solid #007bff;
    color: $card-body-text-color;
}
.nav-link:focus {
    border-bottom: 3px solid #007bff;
    color: $card-body-text-color;
   
}