<div class="container-fluid">
    <!-- taps -->
    <div class="row d-none d-lg-block d-md-block d-xl-block">
        <div class="col-12">
            <ul class="nav d-flex justify-content-center">
                <li (click)="selectedItem('o')" class="nav-item">
                    <a [ngClass]="operation" class="nav-link">Operación</a>
                </li>
                <li class="nav-item">
                    <a (click)="selectedItem('i')" [ngClass]="indicator" class="nav-link">Indicadores</a>
                </li>
                <li (click)="selectedItem('f')" class="nav-item">
                    <a [ngClass]="info" class="nav-link">Información Cliente</a>
                </li>
                <div class="line"></div>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="occilab-text-color">Indique la línea de crédito que quiere reconsiderar</p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 d-flex justify-content-center">
                    <div class="card occilab-card">
                        <div class="card-body text-center">
                            <img src="./assets/icons/icon-credit-ord.svg" alt="" width="32" height="32"
                                title="Bootstrap">
                            <p class="occilab-card-title">Cartera ordinaria</p>

                        </div>
                        <div class="card-footer bg-transparent text-center">Continuar</div>
                    </div>
                    <div class="card occilab-card occilab-card-gray">
                        <div class="card-body text-center">
                            <img src="./assets/icons/icon-credit-leas-gray.svg" alt="" width="32" height="32"
                                title="Bootstrap">
                            <p class="occilab-card-title">Leasing</p>
                        </div>
                        <div class="card-footer bg-transparent text-center">Continuar</div>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning mt-5" role="alert">
                <div class="row">

                    <div class="col-1">
                        <fa-icon class="mt-1" icon="info-circle"></fa-icon>
                    </div>
                    <div class="col-10">
                        <p class="occilab-alert-text">Las demás líneas de crédito no estarán disponibles por el momento
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>