<nav class="navbar navbar-expand-sm navbar-light bg-light occilab-bg-light">
    <a class="navbar-brand occilab-navbar-brand" href="/">
        <fa-icon class="d-lg-none d-xl-none" icon="arrow-left"></fa-icon>
    </a>
    <img class="occilab-logo" src="./assets/bancoccidente.jpg" alt="Logo Occidente">
    <button class="navbar-toggler d-lg-none occilab-navbar-toggler" type="button" data-toggle="collapse"
        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon occilab-navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-lg-0 ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <div class="row" *ngIf="client">
                        <div class="col-12">
                            <p class="text-right occilab-username"> {{client.gerenteRelacion}}</p>
                        </div>
                        <div class="col-12">
                            <p class="text-right">Gerente de relación</p>
                        </div>

                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-center" href="#">
                    <img class="occilab-avatar " src="./assets/avatar.png" alt="">
                </a>
            </li>
            <!--li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li -->
        </ul>
    </div>
</nav>