.occilab-navbar-toggler {
    border-color: #ffffff !important;
    
}
.occilab-navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 156, 225, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.occilab-logo {
    width: 10rem;
}

.occilab-bg-light {
    background-color: #ffffff !important;
    border-bottom: solid 0.1rem #cccccc;
}
.occilab-navbar-brand fa-icon {
    color: #009ce1;
}
.occilab-username {
    font-weight: 600 !important;
    margin: 0;
}
.occilab-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 0.3rem;
}
